{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL instructor</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

        <div class="task-button"><a href="{% url 'llm_view_record_ins' %}"><button>View Student Practice Report</button></a></div>
        <div class="task-button"><a href="{% url 'llm_AIassist' %}"><button>AI-assisted Analysis</button></a></div>


</body>
</html>
