{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQLexe</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">
    <form action="{% url 'clear_tasks_student' %}" method="post" class="exit-container">
        {% csrf_token %}
        <button class="exit-btn">👋 EXIT</button>
    </form>

    <div class="header">
        <h1>📝 MySQL Training with LLM 💡</h1>
        <p>Input the MySQL Topic You Want to Practice（🌟 ex Partition By, With, Group By）</p>
    </div>

    {% if error %}
    <div class="message error">{{ error }}</div>
    {% endif %}

    {% if message %}
    <div class="message success">{{ message }}</div>
    {% endif %}

    {% if not tasks_generated %}

    <form class="upload-form" method="POST" action="{% url 'generate_from_keyword' %}" onsubmit="showLoading()">
        {% csrf_token %}
        <div class="form-group">
            <label for="keyword">Key Words:</label>
            <input type="text" id="keyword" name="keyword" required placeholder="ex. Partition By">
        </div>
        <button type="submit">Generate Exercise</button>
    </form>
    <!-- 转圈加载动画 -->
    <div id="loading-spinner" class="loading-container" style="display: none;">
        <div class="spinner"></div>
        <p>Generating tasks, please wait...</p>
    </div>
    <!-- 转圈加载动画 -->
    {% else %}
    <div class="task-button">
        <a href="{% url 'view_tasks_student' %}"><button>Start Practicing</button></a>
    </div>
    {% endif %}
</div>

<script>
    function showLoading() {
        document.getElementById("loading-spinner").style.display = "flex";
    }
</script>
</body>
</html>
